<div class="flex flex-col md:flex-row items-center justify-center min-h-[300px] bg-gray-900 p-6 rounded-lg shadow-md">

  <img 
    src="/airesdev.png" 
    alt="Pedro Augusto" 
    class="w-48 md:w-64 mb-6 md:mb-0 md:mr-12 transition-transform duration-500 ease-in-out hover:scale-110 hover:rotate-3 hover:-translate-y-2"
  >

  <div class="text-center md:text-left">
    <h2 class="text-2xl font-bold text-white mb-2">Hi, I’m Pedro Augusto!</h2>
    <p class="text-gray-300 font-mono text-lg whitespace-pre-wrap">
      {{ displayText }}
      <span class="border-r-2 border-orange-400 animate-pulse"></span>
    </p>
  </div>
</div>
<div class="mt-4 max-w-xl ml-[1.5rem]">
  <app-contact-social></app-contact-social>
</div>